<ion-header>
    <ion-toolbar color="primary">
        <ion-title>
            Your results
        </ion-title>
        <ion-buttons left>
            <button ion-button icon-only (click)="dismiss()" class="results-modal">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-label stacked class="text-title">Analyzed Text</ion-label>
    <div class="text-analyzed">{{text}}</div>

    <chart [options]="chartOptions" style="display: block; margin: 0 auto; width:100%;" type="chart"></chart>
</ion-content>
