page-home {
  & ion-icon {
    font-size: 50px;
  }

  & #mySpeech textarea {
    min-height: 150px;
    padding: 5px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
    margin: 0;
    width: 100%;
    text-align: justify;
    border-radius: 2px;
  }
  & button {
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
    border-radius: 2px !important;
  }
}

