<ion-header>
    <ion-navbar [color]="isRecording ? 'danger' : 'primary'">
        <ion-title>
            PRECIRE: App Ionic
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding class="page-home">
    <ion-label stacked class="text-title">My Text</ion-label>
    <ion-textarea id="mySpeech" type="text" [(ngModel)]="match" padding-bottom="20"></ion-textarea>

    <button ion-button full (click)="startListening()">Start Recording</button>
    <button ion-button full (click)="openAnalyzedText()" color="secondary">Analyze with PRECIRE</button>
    <button ion-button full (click)="getPermission()">Get Permission to Microphone</button>
</ion-content>
