<ion-header>
    <ion-navbar color="primary">
        <ion-title>
            Settings
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list radio-group>
        <ion-list-header>
            Available Results
        </ion-list-header>

        <ion-item ion-item *ngFor="let item of availableResults; let i = index">
            <ion-label>{{ item.name }}</ion-label>
            <ion-checkbox (ionChange)="getChecked($event, i)" [checked]="item.name" [(ngModel)]="item.checked"
                          [disabled]="item.disable ? 'true' : 'false' " color="primary"></ion-checkbox>
        </ion-item>
    </ion-list>
</ion-content>
